/* YakuHanJP font from https://yakuhanjp.qranoko.jp */
/* ありがとうございます！！！ */
@import url('https://cdn.jsdelivr.net/npm/yakuhanjp@3.4.1/dist/css/yakuhanjp.min.css');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* @font-face {
    font-family: AktivGrotesk;
    src: url("assets/AktivGrotesk-bg.ttf") format("truetype");
} */

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;
    color: black;
    padding: 0;
    margin: 0;
}

#background {
    position: fixed;
    z-index: -50;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(-45deg, currentColor 0, currentColor 1px, transparent 0, transparent 50%);
    background-size: 100px 100px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #2f2f2f;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border: none;
    color: white;
    background-color: #2f2f2f;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button>.fa {
    font-size: 24px;
    padding-right: 4px;
}

/* Navigation bar */
/* Currently hidden because it has no use. */

nav {
    display: none;
    font-family: 'Fredoka One', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #2f2f2f;
    z-index: 10;
}

nav>ul {
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav>ul>li {
    display: table-cell;
    padding: 0 10px;
}

nav>ul>li>a {
    color: white;
    text-decoration: none;
}

nav>ul>li>a:hover {
    background-color: white;
    color: #2f2f2f;
    text-decoration: none;
}

nav.hide {
    transform: translateY(-100%);
}

/* Home/top page */
#page-top {
    height: 100vh;
}

#page-top>div {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 30vw;
    text-align: left;
    background-color: white;
    border: #2f2f2f solid 3px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#page-top>div>#social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

#page-top>div>#social>* {
    padding-right: 10px;
    color: black;
}

#page-top>div>#social>*:hover {
    color: #0099ff;
}

/* Works page */
/* This broke on mobile. No idea why. */
#page-works {
    display: block;
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#page-works>div {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#bms-radio>h2 {
    width: 100%;
}

#bms-radio>img {
    width: 50vw;
    margin: 2vw;
}

#p5cc>img {
    width: 30vw;
    margin: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Contact page */
#page-contact {
    color: white;
}

#page-contact > div {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50vw;
    text-align: center;
    background-color: white;
    color: black;
    border: #2f2f2f solid 3px;
    padding: 50px;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#page-contact > div > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#credit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #2f2f2f;
    color: white;
    text-align: center;
    font-size: 12px;
}

.content {
    width: 60%;
    display: block;
}

@media screen and (max-width:767px),
screen and (max-device-width:767px) {
    #page-top>div {
        width: 100%;
        left: -1%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #page-works {
        text-align: center;
        height: 120vh;
    }

    #page-works>div {
        display: flex;
        flex-direction: column;
    }

    #page-works>div>img {
        width: 100%;
        margin: 0;
    }

    #page-works>#p5cc>img {
        width: 70%;
    }

    .bg-text {
        visibility: hidden;
    }

    nav>ul>li {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .download-btn {
        display: none;
    }
}