@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@600&display=swap');

body {
    font-family: 'Baloo Thambi 2', cursive;
}

#result {
    border: 2px solid;
    width: 100%;
    height: 100%;
}
#sharelink {
    width: 196px;
}

table, td, th {
    border-collapse: collapse;
}
h2 {
    text-align: center;

}
.background {
    margin: 0 auto;
    border-radius: 10px;
    width: 75%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 20px;
}

#social {
    text-align: center; !important
}

ul {
    list-style: none;
}
ul li::before {
    display: inline-block;
    margin: 0 5px;
    content: '\2794';
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}


.fa-youtube .fa-twitter {
    width: 10%;

}
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
    a {
        color: blue;
    }
    table, th, td {
        border: 1px solid black;
    }
    .background {
        
        box-shadow: 0px 0px 10px 5px #d2d2d2;
    }

}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    
    a {
        color: cyan;
    }
    table, th, td {
        border: 1px solid white;
    }

    .background {
        background-color: #333;
        box-shadow: 0px 0px 10px 5px #222;
    }
}