body {
    background-color: rgb(42, 42, 42);
    color: white;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    margin: 6%;
}
a { color: rgb(0, 255, 255); }
form { display: block; }
button, input[type="submit"] {
    display: inline-flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #696969;
    border: 0;
    box-shadow: 0;
    color: white;
    transition: box-shadow 0.25s;
}
.hidden { display: none; }
div.dialog {
    background-color: #606060;
    border-radius: 10px;
    padding: 12px 24px;
}
div#appleSilicon > #as-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 420px;
}
div#appleSilicon > #as-img > img, video {
    width: 100%;
    height: auto;
    object-fit: contain;
}
span#name { color: #7070fd; }