@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@600&display=swap');

body {
    font-family: 'Baloo Thambi 2', cursive;
    text-align: center;
}

table, td, th {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.background {
    margin: 0 auto;
    border-radius: 10px;
    width: 80%;
    padding: 6px;
    margin-bottom: 20px;
}

textarea, form input[type="text"] {
    border: 0px;
    outline: none;
}

#links { display: block; }

ul {
    list-style: none;
}
ul li::before {
    content: '\2794';
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
    a {
        color: blue;
    }
    table, th, td {
        border: 1px solid black;
    }
    .background {
        box-shadow: 0px 0px 10px 5px #d2d2d2;
    }
    textarea, form input[type="text"] {
        background: #eee;
        color: black;
    }

}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    
    a {
        color: cyan;
    }
    table, th, td {
        border: 1px solid white;
    }

    .background {
        background-color: #333;
        box-shadow: 0px 0px 10px 5px #222;
    }
    textarea, form input[type="text"] {
        background: grey;
        color: white;
    }
}

#notice {
    background-color: rgb(255, 255, 200);
    border: 1px yellow solid;
    font-weight: bold;
    color: black;
}