@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@600&display=swap');

* {
    font-family: 'Baloo Thambi 2', cursive;
    text-align: center;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
    a {
        color: blue;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    
    a {
        color: cyan;
    }
}