@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap');

html,
body {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: 'Mulish', sans-serif;
    color: white;
    background-color: black;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

div#background {
    position: fixed;
    z-index: -10;
    width: 100vw;
    height: 100vh;
    background: url('../assets/experimental.png') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    height: 0 auto;
    filter: blur(10px);
    opacity: 0;
    animation: fadeIn 1s 0.3s forwards; 
}

a {
    text-decoration: none;
    color: cyan;
}

a:hover {color: #006eff;}

#credit {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #2f2f2f;
    color: white;
    text-align: center;
    font-size: 12px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}