body {
                background-color: #ffc0cb;
            } 
#info {
                font-size: 12px;
                color: gray;
                text-align: center;
            }
#box {
                border:1px solid #D6D6D6; padding:5%; background:#fff; margin-left:5%; width: 80%;
            }
input[type="text"] {
                border: 0px;
                border-bottom: 2px solid blue;
                outline: none;
                width: 40%;
            }
input[type="checkbox"] {
                background-color: white;
                border: none;
                outline: none;
            }
button {
                background: white;
                border: 2px solid blue;
                outline: none;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
            }
button:hover {
                background-color: blue;
                color: white;
            }
* {
                font-family: Comfortaa;
                font-size: 13px;
            }