body {
                background-color: pink;
            } 
            #tumblr-controls, .tmblr-iframe {display: none; !important}
            #info {
                font-size: 12px;
                color: gray;
            }
            #box {
                border:1px solid #D6D6D6; padding:5%; background:#fff; margin-left:5%; width: 58%;
            }
            input[type="text"] {
                border: 0px;
                border-bottom: 2px solid blue;
                outline: none;      
            }
            input[type="checkbox"] {
                background-color: white;
                border: none;
                outline: none;
            }
            button {
                background: white;
                border: 2px solid blue;
                outline: none;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
            }
            button:hover {
                background-color: blue;
                color: white;
            }
            * {
                font-family: Comfortaa;
                font-size: 13px;
            }
            #err {
                visibility: hidden;