@import "https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@600&display=swap";

*
{
	font-family:'Baloo Thambi 2',cursive;
}

#box
{
	margin: 0 auto;
    border-radius: 10px;
    width: 80%;
    padding: 15px;
    margin-bottom: 10px;
}

#info
{
	font-size:12px;
	text-align:center;
}

input[type="text"], button {
	outline: none;
}

input[type="text"] {
	width: 46%;
}

button {
	-webkit-transition-duration:.4s;
	transition-duration:.4s;
}

@media (prefers-color-scheme: light) {
	body
	{
		background-color:#ffc0cb;
	}

	#info
	{
		color:gray;
	}

	#box
	{
		border:1px solid #D6D6D6;
		background:#fff;
	}

	input[type="text"]
	{
		background-color:white;
		color:#000;
	}

	button
	{
		background:#fff;
		border:2px solid blue;
	}

	button:hover
	{
		background-color:blue;
		color:#fff;
	}

	a
	{
		color:blue;
	}
}

@media (prefers-color-scheme: dark) {
	body
	{
		background-color:#a12565;
	}

	#info
	{
		color:#fff;
	}

	#box
	{
		border:1px solid #353535;
		background:#333;
		color:#fff;
	}

	input[type="text"]
	{
		background-color:grey;
		color:#fff;
	}

	button
	{
		background:#333;
		border:2px solid #0ff;
		color:#fff;
	}

	button:hover
	{
		background-color:#0ff;
		color:#333;
	}
}

a
{
	color:#0ff;
}